---
import Layout from "../layouts/Layout.astro";
---

<Layout>
  <section
    class="min-h-screen flex flex-col items-center justify-center text-center px-4"
  >
    <h1 class="text-6xl font-bold text-red-600">404</h1>
    <p class="text-xl mt-4 text-gray-700 dark:text-gray-300">
      Sorry, the page you're looking for doesn't exist.
    </p>
    <a
      href="/"
      class="mt-6 inline-block bg-blue-600 hover:bg-blue-700 text-white font-semibold px-6 py-3 rounded"
    >
      Go back home
    </a>
  </section>
</Layout>
