---
import Card from "@/components/card.astro";
import Section from "@/components/section.astro";
import resources from "@/data/resources.ts";
const id = "resources";
const title = "Curated Web Dev Resources";
const description =
  "Explore a growing library of carefully selected tools, code snippets, design patterns, and UI components to streamline your web development workflow.";
---

<Section id={id} title={title} description={description}>
  <div
    class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-6 max-w-5xl mx-auto"
  >
    {resources.map((resource) => <Card {...resource} />)}
  </div>
</Section>
